<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- zooming kingdido999 -->

    <script src="https://unpkg.com/zooming/build/zooming.min.js"></script>

    <script>
      // Listen to images after DOM content is fully loaded
      document.addEventListener('DOMContentLoaded', function () {
        new Zooming({
          // options...
          customSize: '60%',
          bgOpacity: '.8',
          bgColor: 'rgb(0,0,0)'
        }).listen('.img-zoomable')
      })
    </script>

    <!-- end zooming kingdido999 -->

  </body>

</html>
